@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin-400.woff2");
  src: local("Roboto"), url("../fonts/roboto-v20-latin-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin-500.woff2");
  src: local("Roboto"), url("../fonts/roboto-v20-latin-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin-700.woff2");
  src: local("Roboto"), url("../fonts/roboto-v20-latin-700.woff") format("woff");
}
